body {
  margin: 0;
  font-family: Questrial;
}


/* Container holding the image and the text */
.container {
  padding: 0px;
  margin: 0px;
  max-width: 100%;
  position: relative;
}

/* Bottom right text */
.logo-block {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Pacifico;
  font-size: 50px;
}

.title-block {
  position: absolute;
  bottom: 250px;
  left: 200px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 85px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  padding: 0px;
  margin: 0px;
}
